<div class="fadeInDown animated" style="margin-top: .7rem;">
<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li {% if page.blog %}class="current"{% endif %}>
      <a href="{{ site.url }}/blog/">Blog</a>
    </li>
    <li {% if page.projects %}class="current"{% endif %}>
      <a href="{{ site.url }}/code/">Projects</a>
    </li>
    <!--<li {% if page.inspiration %}class="current"{% endif %}>
      <a href="{{ site.url }}/inspiration/"><span id="" class="entypo quote"></span></a>
    </li>-->
    <li {% if page.tools %}class="current"{% endif %}>
      <a href="{{ site.url }}/tools/">Tools</a>
    </li>
    <!--<li {% if page.books %}class="current"{% endif %}>
      <a href="{{ site.url }}/books/"><span id="" class="entypo open-book"></span></a>
    </li>-->
  </ul>
</nav></div>
