<div class="fadeInDown animated" style="margin-top: .7rem;">
<nav>
  <ul style="padding-left: 0rem;">
    <li>
      <a href="/">Home</a>
    </li>
    <li {% if page.chaniyacholi %}class="current"{% endif %}>
      <a href="{{ site.url }}/chaniya-choli/">Chaniya Choli</a>
    </li>
    <li {% if page.collectionTwo %}class="current"{% endif %}>
      <a href="{{ site.url }}/collection-2/">Collection-2</a>
    </li>
    <li {% if page.blouses %}class="current"{% endif %}>
      <a href="{{ site.url }}/blouses/">Blouses</a>
    </li>
    <li {% if page.contact %}class="current"{% endif %}>
      <a href="{{ site.url }}/contact/">Contact</a>
    </li>
  </ul>
</nav></div>
